html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Open Sans';
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  color: #d0d0d0; }

h1 {
  font-size: 2.8em;
  font-weight: 300;
  color: #afb0b9; }

h2 {
  font-size: 2.827em;
  margin-top: 8px; }

h3 {
  font-size: 3.9em;
  font-weight: 300; }

h4 {
  font-size: 1.414em; }

p {
  color: #d0d0d0; }

a {
  color: white;
  font-size: 1rem;
  font-weight: 200; }

small {
  font-size: 0.707em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.large {
  font-size: 40px; }

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 300; }
  nav a:hover {
    color: white; }

.built {
  color: white;
  font-size: 0.9em;
  padding: 4px;
  font-weight: 300; }
  .built strong {
    font-weight: 400; }

.built a, .built p {
  font-size: 0.8rem;
  transition: all 0.6s ease; }

.built a:hover {
  text-decoration: underline; }

.btn {
  border: none;
  background: none;
  margin: 6px;
  color: #d0d0d0;
  font-size: 2rem;
  border-radius: 1px;
  height: 50px;
  width: 300px;
  transition: all 0.3s ease; }

.bg-brand {
  background: linear-gradient(180deg, #d80060, #d80060 80%, #dc0095 98%); }
  .bg-brand:hover {
    background: linear-gradient(180deg, #ce005b, #ce005b 80%, #d2008e 98%); }
  .bg-brand:active {
    background: linear-gradient(180deg, #c40057, #c40057 70%, #c80087 98%);
    color: #cbcbcb;
    transform: scale(0.99); }

html {
  height: 100%; }

body {
  background: #20222b; }

canvas {
  margin: 60px 0 20px;
  width: 100%;
  height: 100%; }

#counter {
  position: absolute;
  left: 50%;
  top: 360px;
  border-radius: 100%;
  height: 230px;
  width: 230px;
  padding: 85px 0;
  transform: translate(-50%, -50%);
  -moz-box-shadow: 0 0 1px 25px #20222b, 0 0 0 27px #2b2c3a, 0 0 1px 40px #20222b, 0 0 2px 41px rgba(43, 44, 58, 0.6), 0 0 1px 58px #20222b, 0 0 4px 59px rgba(43, 44, 58, 0.4), 0 0 1px 69px #20222b, 0 0 6px 70px rgba(43, 44, 58, 0.2), inset 0 0 20px 12px #141519;
  -webkit-box-shadow: 0 0 1px 25px #20222b, 0 0 0 27px #2b2c3a, 0 0 1px 40px #20222b, 0 0 2px 41px rgba(43, 44, 58, 0.6), 0 0 1px 58px #20222b, 0 0 4px 59px rgba(43, 44, 58, 0.4), 0 0 1px 69px #20222b, 0 0 6px 70px rgba(43, 44, 58, 0.2), inset 0 0 20px 12px #141519;
  box-shadow: 0 0 1px 25px #20222b, 0 0 0 27px #2b2c3a, 0 0 1px 40px #20222b, 0 0 2px 41px rgba(43, 44, 58, 0.6), 0 0 1px 58px #20222b, 0 0 4px 59px rgba(43, 44, 58, 0.4), 0 0 1px 76px #20222b, 0 0 6px 77px rgba(43, 44, 58, 0.2), inset 0 0 20px 12px #141519;
  z-index: -1; }

main {
  width: 420px;
  margin: 70px auto 0;
  text-align: center;
  padding: 0 30px; }

.logo {
  height: 38px;
  width: auto;
  padding: 7px 5px 0 0; }

button {
  background: #d80060; }

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/
/* -- BREAK 1 -- */
@media all and (max-width: 500px) {
  html {
    font-size: 10px; }
  main {
    width: 300px;
    margin: 40px auto 0;
    padding: 0 10px; }
  canvas {
    margin: 34px 0 20px; }
  #counter {
    position: absolute;
    left: 50%;
    top: 250px;
    height: 178px;
    width: 178px;
    padding: 65px 0; }
  .btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%); } }
