/*=============================================
=                 MEDIA QUERIES               =
=============================================*/



/* -- BREAK 1 -- */

@media all and (max-width: 500px) {
  html {
    font-size: 10px;
  }

main {
    width: 300px;
    margin: 40px auto 0;
    padding: 0 10px;
} 

canvas {
    margin: 34px 0 20px;
}

#counter {
    position: absolute;
    left: 50%;
    top: 250px;
    height: 178px;
    width: 178px;
    padding: 65px 0;
}


.btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}



}