// --------------------------------------------------
// Buttons
// --------------------------------------------------


//--------------------------------
// Buttons
//--------------------------------

.btn {
    border: none;
    background: none;
	margin: 6px;
	color: $text;
    font-size: 2rem;
	border-radius: 1px;
	padding: 0.3em 4.5em;
	transition: all 0.2s ease;
}


.btn-outline {
	color: $brand;
	border: 2px solid $outline;
	padding: 0.52em 1.1em;
	
	&:hover {
	background-color: $brand;
    color: $white;
	}
}

.btn-round {border-radius: 50px}

.btn-sm {font-size: 0.707em}


//--------------------------------
// Background Colors
//--------------------------------

.bg-brand {
    background-color: $brand;

    &:hover {background-color: darken($brand, 5)}

    &:active {
        background-color: darken($brand, 10);
        color: darken($text, 10);
        }
}

.bg-alt {
    background-color: $purple500;

    &:hover {background-color: darken($purple500, 5)}
}
