@import "normalise";
@import "colors";
@import "typography";


html {
    height: 100%;
}

body {
    background: $background;
}

#myCanvas {
    margin: 100px auto;
    // border: red 2px solid;
}

#counter { 
  position: absolute;
  left: 50%;
  top: 385px;
  transform: translate(-50%, -50%);
}

main {
    width: 605px;
    height: 405px;
    margin: 70px auto 0;
    text-align: center;
    // border: green solid 2px;
}