@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "media-queries";


html {
    height: 100%;
}

body {
    background: $background;
}

#myCanvas {
    margin: 80px auto;
    // border: red 2px solid;
}

#counter { 
  position: absolute;
  left: 50%;
  top: 345px;
  transform: translate(-50%, -50%);
}

main {
    width: 420px;
    margin: 70px auto 0;
    text-align: center;
    // border: green solid 2px;
    padding: 0 30px;
}

button {
    background: $brand;
}